@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
#map {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

input[type="text"] {
  height: 15px;
  width: 80%;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  border: none;
  background-color: #ffffff;

  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
}

input[type="text"]:focus {
  outline: none;
}

.sidepanel {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 330px;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  background-color: rgba(244, 247, 247, 0.8);
}

.btn {
  width: 9rem;
  background-color: #9ba4b5;
  border: none;
  border-radius: 10px;
  color: #000000;
  padding: 10px;
  text-align: center;
  /* margin: 25rem 0.5rem 1rem; */

  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
}

.inputContainer{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#innerContainer {
  overflow-y: auto;
  max-height: 30vh;
}

#innerContainer::-webkit-scrollbar {
  display: none;
}

.buttonContainer{
  position: absolute;
  width: 100%;
  display: flex;  
  justify-content: space-evenly;
  bottom: 0;
  margin-bottom: 1rem;
}

.inputTag{
position: relative;
width: 100%;
max-width: 19rem;
}


.inputTag input {
  padding-right: 30px; /* Add space for the remove icon */
}

.inputTag .remove-icon {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  cursor: pointer;
  color: #9ba4b5; /* Set desired color for the remove icon */
}

